.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.le {
  //background-color: #0D0D0D;
  background-color: #f4f5f8;
}

ion-label {
  white-space: normal !important;
}

img {
  object-fit: cover;
}
